
.container{
    margin: 10px;
    padding: 10px;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: flex-start;
   
    gap: 10px;
}